/* Genel Stiller */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #cc8b00;
    color: white;
    padding: 15px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin: 10px 0;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Ana içerik */
main {
    padding: 20px;
}


main h2 {
    color: #cc8b00;
    border-bottom: 2px solid #cc8b00;
    display: inline-block;
    margin-bottom: 15px;
}
/* Form Stilleri */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
button {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: #cc8b00;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 150px;
}

button:hover {
    background-color: #aa9464;
}

/* Liste Stilleri */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #eef;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#arabalar li {
    list-style: none;
    border: 1px solid rgb(200, 200, 255);
    margin: 14px 0;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
}

/* Mouse üstüne gelince */
#arabalar li:hover {
    background-color: rgb(255, 230, 180);
    transform: scale(1.02);
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #ddd;
    margin-top: 20px;
}
